replicaCount: 2

image:
  repository: "REPLACE_ME_ECR_REPO"
  tag: "v1"
  pullPolicy: IfNotPresent

env:
  API_URL: "http://fastapi:8000"
  APP_VERSION: "1.0.0"

service:
  type: ClusterIP
  port: 80
  targetPort: 8501

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

ingress:
  enabled: false
