replicaCount: 1

image:
  repository: "482227257362.dkr.ecr.us-east-1.amazonaws.com/mlops-streamlit-ui"
  tag: 5c5a73f
  pullPolicy: IfNotPresent

env:
  API_URL: "http://fastapi:8000"
  APP_VERSION: "1.0.0"

service:
  type: ClusterIP
  port: 80
  targetPort: 8501

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: false
